Repository prgrms-web-devcourse-final-project/WEB1_1_ZeroOne_FE, pull requests merged in 2024-12, with the labels that each got.

#71 [Feat] 채팅 모달 및 채팅 버튼 ui 구현
  src/app/ModalProvider.tsx
  src/app/styles/variables.scss
  src/features/chatting/index.ts
  src/shared/model/modalStore.ts
  src/widgets/ChattingModal/ChattingModal.module.scss
  src/widgets/ChattingModal/ChattingModal.tsx
  src/widgets/Layout/index.tsx
  src/widgets/Layout/ui/ChattingBtn/ChattingBtn.module.scss
  src/widgets/Layout/ui/ChattingBtn/ChattingBtn.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature

#70 [Feat] 좋아요 리스트 페이지 및 마크다운 에디터 수정
  index.html
  public/Logo.svg
  public/vite.svg
  src/app/appRouter.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.hook.ts
  src/features/archive/ui/WriteComment.tsx
  src/pages/LikeListPage/LikeListPage.module.scss
  src/pages/LikeListPage/LikeListPage.tsx
  src/pages/index.ts
  src/shared/ui/MarkdownEditor/MarkdownEditor.module.scss
  src/shared/ui/MarkdownEditor/MarkdownEditor.tsx
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/LikeTab/LikeTab.module.scss
  src/widgets/LikeTab/LikeTab.tsx
  src/widgets/WriteArchive/WriteStep.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature, 📬 API

#73 [Feat] 채팅 모달 세부 컴포넌트 구현 및 레이아웃 수정
  src/features/chatting/api/chatting.api.ts
  src/features/chatting/api/index.ts
  src/features/chatting/api/types.ts
  src/features/chatting/index.ts
  src/features/chatting/model/mock.ts
  src/features/chatting/ui/ChatBottomNav.module.scss
  src/features/chatting/ui/ChatBottomNav.tsx
  src/features/chatting/ui/ChatHeader.module.scss
  src/features/chatting/ui/ChatHeader.tsx
  src/features/chatting/ui/ChatInput.module.scss
  src/features/chatting/ui/ChatInput.tsx
  src/features/chatting/ui/ChatRoomItem.module.scss
  src/features/chatting/ui/ChatRoomItem.tsx
  src/features/chatting/ui/index.ts
  src/features/index.ts
  src/widgets/ChattingModal/ChattingModal.module.scss
  src/widgets/ChattingModal/ChattingModal.tsx
Labels: 🎨 Html&css, ✨ Feature

#77 [Feat] 유저 설정 페이지(마이페이지) 퍼블리싱
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  src/app/appRouter.tsx
  src/app/styles/variables.scss
  src/features/auth/form.hook.ts
  src/features/auth/form.types.ts
  src/features/auth/form.utils.ts
  src/features/auth/ui/FormField.module.scss
  src/features/auth/ui/FormField.tsx
  src/features/auth/ui/FormInputs.tsx
  src/features/auth/ui/ProfileForm.module.scss
  src/features/auth/ui/ProfileForm.tsx
  src/pages/MyPage/MyPage.module.scss
  src/pages/MyPage/MyPage.tsx
  src/pages/index.ts
  src/shared/ui/Input/Input.module.scss
  src/widgets/SettingUser/ContentLayout.module.scss
  src/widgets/SettingUser/ContentLayout.tsx
  src/widgets/SettingUser/SetArchive.tsx
  src/widgets/SettingUser/SetBadge.tsx
  src/widgets/SettingUser/SetProfile.module.scss
  src/widgets/SettingUser/SetProfile.tsx
  src/widgets/SettingUser/SideTab.module.scss
  src/widgets/SettingUser/SideTab.tsx
  src/widgets/SettingUser/hooks/useMyTab.ts
  src/widgets/SettingUser/index.ts
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature

#84 [Fix] svg 전역 적용으로 인한 페이지 깨짐 현상 수정
  src/features/portfolio/ui/ContactBtn.module.scss
  src/features/portfolio/ui/ContactBtn.tsx
Labels: 🐞 BugFix

#86 [Feat] 유저 API 작성 및 로그인, 토큰 연동 작업 진행
  src/app/App.tsx
  src/app/AuthProvider.tsx
  src/app/QueryProvider.tsx
  src/app/appRouter.tsx
  src/features/auth/auth.api.ts
  src/features/auth/auth.dto.ts
  src/features/auth/ui/GoogleLogin.tsx
  src/features/auth/ui/LoginLoading.tsx
  src/features/portfolio/portfolio.api.ts
  src/features/portfolio/portfolio.dto.ts
  src/features/user/model/user.store.ts
  src/features/user/user.api.ts
  src/features/user/user.dto.ts
  src/features/user/user.hook.ts
  src/shared/api/baseApi.ts
  src/widgets/Layout/index.tsx
  src/widgets/Layout/ui/Header/Header.tsx
Labels: ✨ Feature, 📬 API

#90 [Feat] 알림 UI 퍼블리싱
  src/features/notification/index.ts
  src/features/notification/notification.type.ts
  src/features/notification/ui/NoticeItem.module.scss
  src/features/notification/ui/NoticeItem.tsx
  src/features/notification/ui/index.ts
  src/features/search/ui/SearchBar.module.scss
  src/shared/ui/Modal/Modal.module.scss
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/MenuModal/MenuModal.tsx
  src/widgets/NoticeContainer/NoticeContainer.module.scss
  src/widgets/NoticeContainer/NoticeContainer.tsx
  src/widgets/SettingUser/SetArchive.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css

#92 [Feat] 메인 페이지 퍼블리싱
  package.json
  src/app/appRouter.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/index.ts
  src/shared/assets/banner.svg
  src/shared/assets/banner/blue.svg
  src/shared/assets/banner/green.svg
  src/shared/assets/banner/purple.svg
  src/shared/assets/banner/red.svg
  src/shared/assets/banner/yellow.svg
  src/widgets/MainBanner/MainBanner.module.scss
  src/widgets/MainBanner/MainBanner.tsx
  src/widgets/MainContents/MainContents.module.scss
  src/widgets/MainContents/MainContents.tsx
  src/widgets/MainGridItem/MainGridItem.module.scss
  src/widgets/MainGridItem/MainGridItem.tsx
  src/widgets/index.ts
  yarn.lock
Labels: 🎨 Html&css

#95 [Feat] 유저 프로필 등록 & 수정 관련 API 연동
  src/app/AuthProvider.tsx
  src/app/styles/variables.scss
  src/features/auth/form.hook.ts
  src/features/auth/form.types.ts
  src/features/auth/form.utils.ts
  src/features/auth/ui/FormField.module.scss
  src/features/auth/ui/FormField.tsx
  src/features/auth/ui/FormInputs.tsx
  src/features/auth/ui/ProfileForm.tsx
  src/features/portfolio/portfolio.dto.ts
  src/features/portfolio/portfolio.hook.ts
  src/features/user/model/user.store.ts
  src/features/user/user.dto.ts
  src/pages/MyPage/MyPage.tsx
  src/pages/RegisterPage/RegisterPage.tsx
  src/shared/api/baseApi.ts
  src/shared/hook/useRegistAlarm.ts
  src/shared/hook/useRoleGuard.ts
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/RegisterUser/PortfolioStep.tsx
  src/widgets/RegisterUser/ProfileStep.tsx
  src/widgets/SettingUser/ContentLayout.tsx
  src/widgets/SettingUser/SetProfile.tsx
Labels: ✨ Feature, 📬 API

#94 [Feat] 아카이브 차트 및 메인 아카이브 연결
  src/features/archive/archive.api.ts
  src/features/archive/archive.hook.ts
  src/features/user/ui/UserProfileInfo.tsx
  src/pages/UserPage/UserPage.module.scss
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/MainContents/MainContents.module.scss
  src/widgets/MainGridItem/MainGridItem.module.scss
  src/widgets/MainGridItem/MainGridItem.tsx
  src/widgets/MenuModal/MenuModal.module.scss
  src/widgets/MenuModal/MenuModal.tsx
  src/widgets/UserContents/UserContents.tsx
Labels: 🎨 Html&css, ✨ Feature, 📬 API

#98 [Feat] 알림 기능 연결
  package.json
  src/features/archive/archive.api.ts
  src/features/archive/archive.hook.ts
  src/features/archive/editor.hook.ts
  src/features/chatting/api/chatting.api.ts
  src/features/chatting/api/chatting.dto.ts
  src/features/chatting/api/chatting.hook.ts
  src/features/notification/notification.api.ts
  src/features/notification/notification.dto.ts
  src/features/notification/notification.hook.ts
  src/features/notification/ui/NoticeItem.tsx
  src/features/search/ui/SearchBar.module.scss
  src/pages/WriteArchivePage/WriteArchivePage.tsx
  src/shared/ui/MarkdownEditor/MarkdownEditor.tsx
  src/widgets/DetailArchive/DetailHeader.tsx
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/MenuModal/MenuModal.tsx
  src/widgets/NoticeContainer/NoticeContainer.module.scss
  src/widgets/NoticeContainer/NoticeContainer.tsx
  src/widgets/WriteArchive/WriteStep.tsx
  yarn.lock
Labels: ✨ Feature, 📬 API

#102 [Fix] 포트폴리오 리스트 무한스크롤 수정
  src/features/portfolio/hooks/usePortfolioList.ts
  src/shared/api/baseApi.ts
  src/widgets/PortfolioGrid/PortFolioGrid.module.scss
  src/widgets/PortfolioGrid/PortFolioGrid.tsx
Labels: 🐞 BugFix

#104 [Feat] 유저 페이지 아카이브 리스트 조회
  src/app/appRouter.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/auth/form.utils.ts
  src/features/auth/ui/FormField.tsx
  src/features/gathering/lib/hooks/useGatheringDetail.ts
  src/features/gathering/ui/GatheringCard/GatheringCard.tsx
  src/features/portfolio/api/portfolio.api.ts
  src/features/user/ui/UserBanner.module.scss
  src/features/user/ui/UserBanner.tsx
  src/features/user/ui/UserProfileInfo.module.scss
  src/features/user/ui/UserProfileInfo.tsx
  src/features/user/ui/index.ts
  src/features/user/user.api.ts
  src/pages/UserPage/UserPage.module.scss
  src/pages/UserPage/UserPage.tsx
  src/pages/index.ts
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/MainGridItem/MainGridItem.tsx
  src/widgets/SettingUser/ContentLayout.tsx
  src/widgets/SettingUser/Logout.module.scss
  src/widgets/SettingUser/Logout.tsx
  src/widgets/SettingUser/SideTab.module.scss
  src/widgets/SettingUser/hooks/useMyTab.ts
  src/widgets/UserContents/UserContents.tsx
Labels: ✨ Feature, 📬 API

#110 [Fix] CodeMirror Version Error
  .github/workflows/lighthouse.yml
  package.json
  yarn.lock
Labels: 🐞 BugFix

#113 [Feat] 게더링 및 포트폴리오 미흡한 부분 수정
  README.md
  index.html
  package.json
  src/app/main.tsx
  src/features/gathering/api/gathering.api.ts
  src/features/gathering/index.ts
  src/features/gathering/lib/hooks/index.ts
  src/features/gathering/lib/hooks/useCreateGathering.ts
  src/features/gathering/lib/hooks/useGatheringLike.ts
  src/features/gathering/lib/hooks/useGatheringLikeList.ts
  src/features/gathering/lib/hooks/useInfiniteGatheringId.ts
  src/features/gathering/lib/hooks/useMainGathering.ts
  src/features/gathering/model/dto/gathering.dto.ts
  src/features/gathering/model/dto/request.dto.ts
  src/features/gathering/model/options.ts
  src/features/gathering/ui/GatheringCard/GatheringCard.module.scss
  src/features/gathering/ui/GatheringCard/GatheringCard.tsx
  src/features/gathering/ui/GatheringDetail/GatheringDetailUserInfo.module.scss
  src/features/gathering/ui/GatheringDetail/GatheringDetailUserInfo.tsx
  src/features/gathering/ui/GatheringDetail/GatheringInfoItem.module.scss
  src/features/gathering/ui/GatheringDetail/GatheringInfoItem.tsx
  src/features/gathering/ui/GatheringTagInput.tsx
  src/features/gathering/ui/useGatheringMarkdown.ts
  src/features/portfolio/api/portfolio.api.ts
  src/features/portfolio/hooks/useInfinitePortfolioLikeList.ts
  src/features/portfolio/hooks/usePortfolioLike.ts
  src/features/portfolio/index.ts
  src/features/portfolio/model/types.ts
  src/features/portfolio/ui/ContactBtn.tsx
  src/features/portfolio/ui/PortfolioCard.module.scss
  src/features/portfolio/ui/PortfolioCard.tsx
  src/pages/GatheringDetailPage/GatheringDetailPage.tsx
  src/pages/PortfolioListPage/PortfolioListPage.tsx
  src/pages/WriteGatheringPage/WriteGatheringPage.tsx
  src/shared/api/baseApi.ts
  src/shared/ui/LikeBtn/LikeBtn.module.scss
  src/shared/ui/LikeBtn/LikeBtn.tsx
  src/widgets/ContactModal/ui/ContactModal.tsx
  src/widgets/GatheringDetail/GatheringDetailBtnCon.tsx
  src/widgets/GatheringDetail/GatheringDetailGrid.module.scss
  src/widgets/GatheringDetail/GatheringDetailGrid.tsx
  src/widgets/GatheringDetail/GatheringDetailHeader.tsx
  src/widgets/GatheringGrid/GatheringGrid.tsx
  src/widgets/Layout/ui/Footer/Footer.tsx
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/LikeTab/LikeTab.module.scss
  src/widgets/LikeTab/LikeTab.tsx
  src/widgets/MainGatheringGrid/MainGatheringGrid.module.scss
  src/widgets/MainGatheringGrid/MainGatheringGrid.tsx
  src/widgets/MainGridItem/MainGridItem.tsx
  src/widgets/MainPortfolioGrid/MainPortfolioGrid.tsx
  src/widgets/RegisterUser/ProfileStep.tsx
  src/widgets/SettingUser/SetProfile.tsx
  src/widgets/index.ts
Labels: 📬 API

#116 [Feat] 유저 페이지 Gathering, Archive List 구현 (#115)
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/gathering/api/gathering.api.ts
  src/features/gathering/lib/hooks/useUserGathering.ts
  src/features/gathering/model/dto/gathering.dto.ts
  src/shared/hook/useCustomInfiniteQuery.ts
  src/widgets/UserContents/UserContents.tsx
Labels: 📬 API
