Repository prgrms-web-devcourse-final-project/WEB1_1_ZeroOne_FE, pull requests merged in 2024-11, with the labels that each got.

#1 [Rename] Change folder structure
  package.json
  src/app/index.ts
  src/features/index.ts
  src/pages/index.ts
  src/shared/index.ts
  src/widgets/index.ts
  yarn.lock
Labels: chore

#6 [Etc] Husky 및 lint-staged 환경 세팅
  package.json
  yarn.lock
Labels: ⚙ Setting

#7 [Fix] husky gitignore 수정 및 package.json 쉼표 추가
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package.json
Labels: ⚙ Setting, 🐞 BugFix

#8 etc: s3-deploy
  .github/workflows/s3-deploy.yml
Labels: 🌏 Deploy

#9 Etc/#3 storybook styelint setting
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .stylelintrc.json
  .vscode/settings.json
  babel.config.cjs
  jest.setup.ts
  package.json
  src/globals.scss
  src/main.tsx
  src/shared/index.ts
  src/shared/ui/Button2/Button2.stories.tsx
  src/shared/ui/Button2/Button2.tsx
  yarn.lock
Labels: ⚙ Setting

#12 [Etc] stylelint config, plugin 추가
  .stylelintrc.json
  .vscode/settings.json
  package.json
  src/globals.scss
  yarn.lock
Labels: ⚙ Setting

#16 etc: lighthouse ci setting
  .github/workflows/lighthouse.yml
  .gitignore
  .stylelintrc.json
  lighthouserc.cjs
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Labels: 🥰 Accessibility, 🎱 lighthouse

#17 [Feat] router, provider, base-api 생성
  index.html
  src/App.tsx
  src/__tests__/App.test.tsx
  src/app/App.tsx
  src/app/QueryProvider.tsx
  src/app/appRouter.tsx
  src/app/index.ts
  src/app/main.tsx
  src/app/styles/global.d.ts
  src/app/styles/globals.scss
  src/shared/api/baseApi.ts
Labels: ⚙ Setting, ✨ Feature, 📬 API

#18 [DESIGN] Sass 설정 및 base Layout 추가
  index.html
  package.json
  src/app/App.tsx
  src/app/appRouter.tsx
  src/app/main.tsx
  src/app/styles/globals.scss
  src/app/styles/variables.scss
  src/widgets/Layout.tsx
  src/widgets/index.ts
  vite.config.ts
  yarn.lock
Labels: ⚙ Setting, 🎨 Html&css

#22 [FEAT] Layout ( Header, Footer) 컴포넌트 제작
  jest.config.ts
  package.json
  src/__tests__/utils.test.ts
  src/app/styles/globals.scss
  src/app/styles/variables.scss
  src/mocks/svgMock.tsx
  src/shared/assets/paletteLogo.svg
  src/shared/assets/search.svg
  src/shared/index.ts
  src/shared/sum.ts
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button2/Button2.stories.tsx
  src/shared/ui/Button2/Button2.tsx
  src/shared/ui/index.ts
  src/vite-env.d.ts
  src/widgets/Layout/constants.ts
  src/widgets/Layout/index.tsx
  src/widgets/Layout/ui/Footer/Footer.module.scss
  src/widgets/Layout/ui/Footer/Footer.tsx
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  vite.config.ts
  yarn.lock
Labels: 🎨 Html&css, ✨ Feature

#25 Feat/#19 archive color choice
  .gitignore
  package.json
  src/__tests__/App.test.tsx
  src/app/appRouter.tsx
  src/app/styles/globals.scss
  src/features/Archive/colors.type.ts
  src/features/Archive/index.ts
  src/features/Archive/ui/ColorChip.module.scss
  src/features/Archive/ui/ColorChip.tsx
  src/features/Archive/ui/index.ts
  src/features/index.ts
  src/pages/WriteArchivePage.tsx
  src/pages/index.ts
  src/shared/assets/color-chip-logo.svg
  src/widgets/WriteArchive/ColorChips.module.scss
  src/widgets/WriteArchive/ColorChips.tsx
  src/widgets/WriteArchive/WriteArchiveContainer.module.scss
  src/widgets/WriteArchive/WriteArchiveContainer.tsx
  src/widgets/WriteArchive/index.ts
  src/widgets/index.ts
  tsconfig.tsbuildinfo
  yarn.lock
Labels: 🎨 Html&css, ✨ Feature

#31 [Fix] MSW 오류 수정
  package.json
  public/mockServiceWorker.js
  src/mocks/browser.ts
Labels: ⚙ Setting, 🐞 BugFix

#30 [Feat] Modal Provider 세팅 및 Login Modal 구현
  index.html
  src/app/App.tsx
  src/app/ModalProvider.tsx
  src/app/styles/globals.scss
  src/features/auth/index.ts
  src/features/auth/ui/GoogleLogin.module.scss
  src/features/auth/ui/GoogleLogin.tsx
  src/shared/assets/googleLogo.svg
  src/shared/assets/paletteLogo.svg
  src/shared/model/modalStore.ts
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/index.ts
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/LoginModal/ui/LoginModal.module.scss
  src/widgets/LoginModal/ui/LoginModal.tsx
Labels: 🎨 Html&css, ✨ Feature

#36 [Feat] 아카이브 작성 위젯 완성
  src/app/styles/globals.scss
  src/features/Archive/index.ts
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/archive/colors.type.ts
  src/features/archive/editor.hook.ts
  src/features/archive/editor.type.ts
  src/features/archive/index.ts
  src/features/archive/ui/ColorChip.module.scss
  src/features/archive/ui/ColorChip.tsx
  src/features/archive/ui/MarkdownPreview.module.scss
  src/features/archive/ui/MarkdownPreview.tsx
  src/features/archive/ui/Toolbar.module.scss
  src/features/archive/ui/Toolbar.tsx
  src/features/archive/ui/index.ts
  src/features/index.ts
  src/mocks/handlers.ts
  src/pages/WriteArchivePage.tsx
  src/pages/WriteArchivePage/WriteArchivePage.tsx
  src/pages/index.ts
  src/shared/api/api.dto.ts
  src/shared/api/index.ts
  src/shared/ui/MarkdownEditor/MarkdownEditor.module.scss
  src/shared/ui/MarkdownEditor/MarkdownEditor.tsx
  src/shared/ui/Switch/Switch.module.scss
  src/shared/ui/Switch/Switch.tsx
  src/shared/ui/Tag/Tag.module.scss
  src/shared/ui/Tag/Tag.tsx
  src/shared/ui/index.ts
  src/widgets/WriteArchive/ColorChips.module.scss
  src/widgets/WriteArchive/ColorChips.tsx
  src/widgets/WriteArchive/ColorChoiceStep.tsx
  src/widgets/WriteArchive/WriteArchiveContainer.module.scss
  src/widgets/WriteArchive/WriteArchiveContainer.tsx
  src/widgets/WriteArchive/WriteStep.module.scss
  src/widgets/WriteArchive/WriteStep.tsx
  src/widgets/WriteArchive/index.ts
Labels: 🎨 Html&css, ✨ Feature, 📬 API

#38 [Feat] GatheringSelect widget 구현
  .gitignore
  .lighthouseci/manifest.json
  src/features/archive/index.ts
  src/features/gathering/index.ts
  src/features/gathering/model/options.ts
  src/features/gathering/model/store.ts
  src/features/gathering/model/types.ts
  src/features/index.ts
  src/pages/GatheringListPage/GatheringListPage.module.scss
  src/pages/GatheringListPage/GatheringListPage.tsx
  src/shared/model/SelectBtnTypes.ts
  src/shared/ui/SelectBtn/SelectBtn.tsx
  src/widgets/GatheringGrid/GatheringGrid.module.scss
  src/widgets/GatheringGrid/GatheringGrid.tsx
  src/widgets/GatheringSelectCon/index.ts
  src/widgets/GatheringSelectCon/ui/GatheringSelectCon.module.scss
  src/widgets/GatheringSelectCon/ui/GatheringSelectCon.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature

#41 [Feat] 폼 컴포넌트 구현
  src/app/styles/variables.scss
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Radio/Radio.module.scss
  src/shared/ui/Radio/Radio.tsx
  src/shared/ui/index.ts
Labels: 🎨 Html&css, ✨ Feature

#42 [Feat] 아카이브 상세 페이지 퍼블리싱
  eslint.config.mjs
  src/app/appRouter.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/archive/ui/CommentItem.module.scss
  src/features/archive/ui/CommentItem.tsx
  src/features/archive/ui/MarkdownPreview.module.scss
  src/features/archive/ui/WriteComment.module.scss
  src/features/archive/ui/WriteComment.tsx
  src/features/archive/ui/index.ts
  src/mocks/handlers.ts
  src/pages/DetailArchivePage/DetailArchivePage.module.scss
  src/pages/DetailArchivePage/DetailArchivePage.tsx
  src/pages/index.ts
  src/shared/ui/MarkdownEditor/MarkdownEditor.tsx
  src/shared/ui/Tag/Tag.module.scss
  src/shared/ui/Tag/Tag.tsx
  src/widgets/DetailArchive/DetailHeader.module.scss
  src/widgets/DetailArchive/DetailHeader.tsx
  src/widgets/DetailArchive/index.ts
  src/widgets/WriteArchive/WriteStep.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css

#44 [Feat] sidebarfilter component 구현
  .github/workflows/lighthouse.yml
  .vscode/typescriptreact.code-snippets
  src/pages/GatheringListPage/GatheringListPage.module.scss
  src/pages/GatheringListPage/GatheringListPage.tsx
  src/shared/model/jobCategories.ts
  src/shared/ui/SidebarFilter/config/constants.ts
  src/shared/ui/SidebarFilter/index.ts
  src/shared/ui/SidebarFilter/model.ts
  src/shared/ui/SidebarFilter/types.ts
  src/shared/ui/SidebarFilter/ui/SidebarFilter.module.scss
  src/shared/ui/SidebarFilter/ui/SidebarFilter.tsx
  src/shared/ui/TripleDot/TripleDot.module.scss
  src/shared/ui/TripleDot/TripleDot.tsx
  src/shared/ui/index.ts
  src/widgets/GatheringGrid/GatheringGrid.module.scss
  src/widgets/GatheringGrid/GatheringGrid.tsx
Labels: 🎨 Html&css, ✨ Feature

#46 [Feat] 아카이브, 댓글 API 연결
  netlify.toml
  package.json
  public/_redirects
  src/app/appRouter.tsx
  src/app/main.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/archive/index.ts
  src/features/archive/model/archive.store.ts
  src/features/archive/model/index.ts
  src/features/archive/ui/CommentItem.tsx
  src/features/archive/ui/WriteComment.tsx
  src/mocks/handlers.ts
  src/mocks/handlers/archive.ts
  src/pages/DetailArchivePage/DetailArchivePage.tsx
  src/pages/WriteArchivePage/WriteArchivePage.tsx
  src/shared/hook/index.ts
  src/shared/hook/useIntersectionObserver.ts
  src/shared/ui/MarkdownEditor/MarkdownEditor.tsx
  src/widgets/DetailArchive/DetailHeader.tsx
  src/widgets/WriteArchive/ColorChips.tsx
  src/widgets/WriteArchive/ColorChoiceStep.tsx
  src/widgets/WriteArchive/WriteStep.tsx
  yarn.lock
Labels: ✨ Feature, 📬 API

#57 [Fix] 게더링 배포 오류 수정
  .github/workflows/lighthouse.yml
  src/features/gathering/model/store.ts
  src/features/gathering/ui/GatheringMarkdownEditor.tsx
  src/features/gathering/ui/useGatheringMarkdown.ts
Labels: 🌏 Deploy, 🐞 BugFix

#54 [Feat] 아카이브 리스트 페이지
  src/app/appRouter.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.dto.ts
  src/features/archive/archive.hook.ts
  src/features/archive/ui/ArchiveCard.module.scss
  src/features/archive/ui/ArchiveCard.tsx
  src/features/archive/ui/ColorSelect.module.scss
  src/features/archive/ui/ColorSelect.tsx
  src/features/archive/ui/index.ts
  src/pages/ArchiveListPage/ArchiveListPage.module.scss
  src/pages/ArchiveListPage/ArchiveListPage.tsx
  src/pages/index.ts
  src/shared/assets/empty-heart.svg
  src/shared/assets/heart.svg
  src/shared/ui/SelectBtn/SelectBtn.module.scss
  src/widgets/ArchiveGrid/ArchiveGrid.module.scss
  src/widgets/ArchiveGrid/ArchiveGrid.tsx
  src/widgets/ArchiveGrid/index.ts
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature, 📬 API

#58 [Feat] 유저 등록 페이지 구현
  src/app/appRouter.tsx
  src/features/auth/form.hook.ts
  src/features/auth/form.types.ts
  src/features/auth/form.utils.ts
  src/features/auth/index.ts
  src/features/auth/ui/PortfolioInput.module.scss
  src/features/auth/ui/PortfolioInput.tsx
  src/features/auth/ui/ProfileForm.module.scss
  src/features/auth/ui/ProfileForm.tsx
  src/features/auth/ui/RegisterProgress.module.scss
  src/features/auth/ui/RegisterProgress.tsx
  src/features/auth/ui/index.ts
  src/pages/RegisterPage/RegisterPage.module.scss
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/index.ts
  src/shared/ui/Button/Button.tsx
  src/widgets/RegisterUser/PortfolioStep.module.scss
  src/widgets/RegisterUser/PortfolioStep.tsx
  src/widgets/RegisterUser/ProfileStep.module.scss
  src/widgets/RegisterUser/ProfileStep.tsx
  src/widgets/RegisterUser/index.ts
Labels: 🎨 Html&css, ✨ Feature

#60 [Feat] 검색 페이지 및 전역 상태 관리 수정
  eslint.config.mjs
  src/app/appRouter.tsx
  src/features/archive/archive.api.ts
  src/features/archive/archive.hook.ts
  src/features/archive/model/archive.store.ts
  src/features/index.ts
  src/features/search/index.ts
  src/features/search/ui/SearchBar.module.scss
  src/features/search/ui/SearchBar.tsx
  src/features/search/ui/index.ts
  src/pages/ArchiveListPage/ArchiveListPage.tsx
  src/pages/DetailArchivePage/DetailArchivePage.tsx
  src/pages/SearchPage/SearchPage.module.scss
  src/pages/SearchPage/SearchPage.tsx
  src/pages/index.ts
  src/shared/hook/index.ts
  src/shared/hook/useCustomInfiniteQuery.ts
  src/shared/hook/usePageLifecycle.ts
  src/shared/ui/GatheringCard/GatheringCard.module.scss
  src/shared/ui/GatheringCard/GatheringCard.tsx
  src/shared/ui/SidebarFilter/ui/SidebarFilter.module.scss
  src/widgets/GatheringGrid/GatheringGrid.module.scss
  src/widgets/Layout/index.tsx
  src/widgets/Layout/ui/Header/Header.module.scss
  src/widgets/Layout/ui/Header/Header.tsx
  src/widgets/SearchAll/SearchAll.module.scss
  src/widgets/SearchAll/SearchAll.tsx
  src/widgets/SearchTap/SearchTap.module.scss
  src/widgets/SearchTap/SearchTap.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature, 📬 API

#62 [Feat] portfolio page 구현
  src/app/appRouter.tsx
  src/features/gathering/ui/GatheringCard/GatheringCard.module.scss
  src/features/gathering/ui/GatheringCard/GatheringCard.tsx
  src/features/gathering/ui/GatheringCard/JobTag.module.scss
  src/features/gathering/ui/GatheringCard/JobTag.tsx
  src/features/gathering/ui/GatheringCard/index.ts
  src/features/index.ts
  src/features/portfolio/index.ts
  src/features/portfolio/model/types.ts
  src/features/portfolio/ui/PortfolioCard.module.scss
  src/features/portfolio/ui/PortfolioCard.tsx
  src/pages/PortfolioListPage/PortfolioListPage.module.scss
  src/pages/PortfolioListPage/PortfolioListPage.tsx
  src/pages/index.ts
  src/shared/model/index.ts
  src/shared/ui/index.ts
  src/widgets/GatheringSelectCon/ui/GatheringSelectCon.module.scss
  src/widgets/GatheringSelectCon/ui/GatheringSelectCon.tsx
  src/widgets/PortfolioGrid/PortFolioGrid.module.scss
  src/widgets/PortfolioGrid/PortFolioGrid.tsx
  src/widgets/SearchAll/SearchAll.tsx
  src/widgets/SearchTap/SearchTap.tsx
  src/widgets/index.ts
Labels: 🎨 Html&css, ✨ Feature

#65 [Feat] 유저 페이지 UI(뷰) 구현
  package.json
  src/app/appRouter.tsx
  src/features/user/index.ts
  src/features/user/ui/UserProfileInfo.module.scss
  src/features/user/ui/UserProfileInfo.tsx
  src/features/user/ui/index.ts
  src/pages/UserPage/UserPage.module.scss
  src/pages/UserPage/UserPage.tsx
  src/pages/index.ts
  src/shared/ui/Chart/PieChart.tsx
  src/shared/ui/TripleDot/TripleDot.module.scss
  src/widgets/Layout/Layout.module.scss
  src/widgets/Layout/constants.ts
  src/widgets/Layout/index.tsx
  src/widgets/UserContents/ContentsTab.module.scss
  src/widgets/UserContents/ContentsTab.tsx
  src/widgets/UserContents/UserContents.module.scss
  src/widgets/UserContents/UserContents.tsx
  src/widgets/UserContents/hook/useUserTab.ts
  src/widgets/UserContents/model/tab.type.ts
  src/widgets/index.ts
  yarn.lock
Labels: 🎨 Html&css, ✨ Feature

#64 [Feat] 한 줄 소개 필드 추가
  src/features/archive/archive.dto.ts
  src/features/archive/model/archive.store.ts
  src/mocks/handlers/archive.ts
  src/widgets/DetailArchive/DetailHeader.module.scss
  src/widgets/DetailArchive/DetailHeader.tsx
  src/widgets/WriteArchive/WriteStep.tsx
Labels: 🎨 Html&css, ✨ Feature

#67 [Feat] token 관리
  src/app/App.tsx
  src/app/AuthProvider.tsx
  src/shared/api/baseApi.ts
Labels: ✨ Feature, 📬 API
